{% extends "base.html" %}
{% load static %}
      
 {% block content %}



<div class="container">
        <article class="blog-post">


        <p>Mipo E. Dadang PhD, has experience both nationally and internationally.
            Nationally, he has experience in theological education, leadership and administration.
            He was a chaplain at ECWA Evangel Hospital Jos (now Bingham University Teaching Hospital Jos).
            He was Secretary of Plateau and Jos District Church Council.
            He was Deputy Registrar at Jos ECWA Theological Seminary (JETS), where he currently serves on its faculty.
            He was ECWA General Secretary for a maximum of six years.</p>
        <p>He was ECWA General Secretary for a maximum of six years.
            Internationally, he pioneered and served as the first Country Coordinator of Africa Services.
            He was the first Nigerian to be appointed the West Africa Director of Community Bible Study International (CBSI).
            He has studied in Nigeria and USA. Mipo holds a diploma of theology from Igbaja Theological Seminary;
            Bachelor of Theology (Pastoral Studies), and Master of Theology (Biblical Studies) at Jos ECWA Theological Seminary;
            Master of Divinity at Eastern University Seminary, Pennsylvania, Philadelphia, USA;
            and Doctor of Philosophy, PhD at Concordia Theological Seminary Fort Wayne, Indiana, USA.
            He has received various leadership awards in Nigeria and from the United States of America.
            He received an overall academic award and an award in Church History 1 and II all from Eastern University Seminary USA.
            He is a reader and a very hardworking and erudite scholar.
            His publications resonate with those in the field of missiology, Sociology of Religion, Church History, History of Religions and Conflict and Peace Studies.
            It is in line with the fine academic works of Clifford Geertz, Armin Geertz, Peter Berger, Talcott Parsons, Max Weber, Stephen Eliss, Gerie ter Haar and Benjamin Soares.
            He has travelled to different parts of the world: United States of America.
            USA, South Africa, Ethiopia, Egypt, Turkey, Nairobi, Kenya, Europe, Ghana, Abidjan, Hawaii where he attended Haggai Leadership Institute and Middle East.
            Mipo, is a lecturer, business consultant with Labuena Vida -Own Your Live Mipo is married and has four children.

            </p>
                    </article>



      <article class="blog-post">
            <h3 class="blog-post-title">CONFLICT AND PEACE BUILDING APPROACH</h3>

                <p>Blessed are the peacemakers, for they shall be called children of God. Blessed are those who are persecuted for righteousness’ sake, for theirs is the kingdom of heaven.
                    Blessed are you when others revile you and persecute you and utter all kinds of evil against you falsely on my account.
                    Rejoice and be glad for your reward is great in heaven, for so they persecuted the prophets who were before you (Matthew 5:9-12).
                    People of Peace promote peaceful coexistence in communities and develop in people right worldview towards purposeful existence. Peace people are engaging in initiatives that seek to restore shalom in peoples’ lives.
                </p>
                  <p><strong>Peace People exist: </strong>Help people respond to crisis of life with right perspective since humanity has the tendency to respond to any sort of crisis reactionary.
                      Provide informal leadership training and resources through workshops/conferences.
                      Address people’s sociological, psychological and economical needs with sustainable approaches that are holistic in nature.
                      Build capacities of persons to handle, manage, and to apply right worldview in response to crises of life through discipleship and business networks.
                      Provide interventions that assist vulnerable persons to cope and solve their situations beyond their temporal physical needs.
                You can partner with PP in various ways: Pray, support by giving, and join our network business that turn the poorest of the poor to residual financial freedom till eternity. </p>
                <ul>
                  <li>Contact: Tel</li>
                  <li>Account: Access bank 1451380161</li>
                </ul>

      </article><!-- /.blog-post -->


</div>


{%endblock%}
