{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
    <div class="col-md-8">
                    <article class="blog-post">
        <h2 class="blog-post-title">PROFILE</h2>

        <p>Mipo E. Dadang PhD, has experience both nationally and internationally. Nationally, he has experience in theological education, leadership and administration.He was a chaplain at ECWA Evangel Hospital Jos (now Bingham University Teaching Hospital Jos).
            He was Secretary of Plateau and Jos District Church Council. He was Deputy Registrar at Jos ECWA Theological Seminary (JETS), where he currently serves on its faculty. He was ECWA General Secretary for a maximum of six years.</p>
        <hr>
        <p>Internationally, he pioneered and served as the first Country Coordinator of Africa Services. He was the first Nigerian to be appointed the West Africa Director of Community Bible Study International (CBSI). He has studied in Nigeria and USA. Mipo holds a diploma of theology from Igbaja Theological Seminary; Bachelor of Theology (Pastoral Studies), and Master of Theology (Biblical Studies) at Jos ECWA Theological Seminary; Master of Divinity at Eastern University Seminary, Pennsylvania, Philadelphia, USA; and Doctor of Philosophy, PhD at Concordia Theological Seminary Fort Wayne, Indiana, USA.
            He has received various leadership awards in Nigeria and from the United States of America.</p>
          <p>He received an overall academic award and an award in Church History 1 and II all from Eastern University Seminary USA.
              He is a reader and a very hardworking and erudite scholar. His publications resonate with those in the field of missiology, Sociology of Religion, Church History, History of Religions and Conflict and Peace Studies.
              It is in line with the fine academic works of Clifford Geertz, Armin Geertz, Peter Berger, Talcott Parsons, Max Weber, Stephen Eliss, Gerie ter Haar and Benjamin Soares.</p>

        <p>He has travelled to different parts of the world: United States of America.
            USA, South Africa, Ethiopia, Egypt, Turkey, Nairobi, Kenya, Europe, Ghana, Abidjan, Hawaii where he attended Haggai Leadership Institute and Middle East.
            Mipo, is a lecturer, business consultant with Labuena Vida -Own Your Live Mipo is married and have four children.</p>


      </article>
    </div>
             </div>
    </div>


{% endblock content %}