{% extends 'base.html' %} {% block content %}

  <div class="container">
    <div>
    <h3>PUBLICATIONS</h3>
    <p><h4>Books: </h4></p>
    <ul>
      <li>Rightly Dividing the Word. Of Truth: A Guidepost For Biblical Hermeneutics in Contemporary Africa   Bukuru: Africa Christian Textbooks, 2021.</li>
      <li>Safeguarding Marriage in Contemporary Africa: A Practical- Biblical Discourse for Couples, Intending Couples and Marriage Counsellors.
        Bisichi, Barkin Ladi:  Hamtul Press Limited, 2019.</li>
      <li>RIGHTLY DIVIDING THE WORD: An Introductory Notes on Hermeneutics for Colleges, Seminaries, And Christian Laity. Jos: Ashlite Publishing, 2019.</li>
      <li>SELL YOUR GARMENT AND BUY A SWORD”: Did Jesus Permit Retaliation Against Religious Violence?   Bukuru: African Christian Textbooks, 2017.</li>
      <li>The Poor in Biblical Narrative: A Missiological Reflection. Bukuru: African Christian Textbooks, 2017.</li>
      <li>Exploring Power Encounter: A Biblical-Theologica; Perspective. Bukuru: African Christian Textbooks, 2016.</li>
      <li>Standing Firm: An Able God for Disable People. Jos: Daveco Prints and Publishers,2015.</li>
      <li>Forgiveness From the Heart: A Biblical Way for Restoring Broken Relationships Among People. Jos: Yakson Printing Press, 2014.</li>
    </ul>
  </div>
  </div>

{% endblock content %}