{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4">
<div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About Us</h4>

        <p>Mipo E. Dadang PhD, has experience both nationally and internationally.
            Nationally, he has experience in theological education, leadership and administration.
            He was a chaplain at ECWA Evangel Hospital Jos (now Bingham University Teaching Hospital Jos).
            He was Secretary of Plateau and Jos District Church Council.
            He was Deputy Registrar at Jos ECWA Theological Seminary (JETS), where he currently serves on its faculty.
            He was ECWA General Secretary for a maximum of six years.</p>
</div>
</div>

{% endblock sidebar %}